@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Benvenuto sulla Home Page Pubblica</h1>
    <p>Questa è la pagina principale a cui possono accedere tutti gli utenti, inclusi i guest.</p>
</div>
