@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the Public Home Page.</h1>
    <p>This is the main page that all users, including guests, can access.</p>
</div>
